{%extends "layout.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <!--<h2 class="header">Search for Movie</h2>
    <div class="center">
    <form action="/movie" method="POST">
        <input type="text" name="movie" autocomplete="off" autofocus placeholder="Movie name" class="searchinput"> 
        <input type="submit" value="Search" name="searchbutto" class="searchinput">
    </form>
</div>-->
</body>
</html>