{%extends "layout.html"%}


{% block main %}
<title>Search results for {{searchquery}}</title>

<style>
td{
  margin: 0px 0px;
  padding: 20px 0px;
  float: left;
  width: 40%;
}
input{
  margin: 0px;
  padding: 0px;
}
form{
  margin: 0px;
  padding: 0px;
  width: 50%;
}
.moviefont{
        text-decoration: none !important;
        font-family: Arial, Helvetica, sans-serif;
        color:#313335 !important;
        font-size: larger;
    }
    .moviefont:hover{
        color:#4c4f52 !important;
    }
    #movieImages{
            border-radius: 5%;
        }
    #movieImages:hover{
            box-shadow: 0 0 10px yellow;
        }
  </style>
<table id="tabledata">
{%for movie in movies%}
<tr> <td><img src="" alt="{{movie[1]}}" class="images" name="{{movie[0]}}" id="movieImages"></td>
  <td><form action="/movie" method="post"><input name="movie" type="hidden" value="{{movie[1]}}" >
          <input type="submit" value="{{movie[1]}}" class="moviefont" name="moviename"></td></form>
    <td> <form action="/year" method="post"><input type="submit" name="releaseyear"value="{{movie[2]}}" class="movieyear"></form></td>

</tr>
{%endfor%}
</table>
<script src="/static/findMoviePosterByImdbID.js"></script>
  {% endblock %}
